In [2]:
import pandas as pd

In [3]:
df = pd.read_stata("lakisha_aer.dta")

In [4]:
df.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [5]:
df.columns

Index(['id', 'ad', 'education', 'ofjobs', 'yearsexp', 'honors', 'volunteer',
       'military', 'empholes', 'occupspecific', 'occupbroad', 'workinschool',
       'email', 'computerskills', 'specialskills', 'firstname', 'sex', 'race',
       'h', 'l', 'call', 'city', 'kind', 'adid', 'fracblack', 'fracwhite',
       'lmedhhinc', 'fracdropout', 'fraccolp', 'linc', 'col', 'expminreq',
       'schoolreq', 'eoe', 'parent_sales', 'parent_emp', 'branch_sales',
       'branch_emp', 'fed', 'fracblack_empzip', 'fracwhite_empzip',
       'lmedhhinc_empzip', 'fracdropout_empzip', 'fraccolp_empzip',
       'linc_empzip', 'manager', 'supervisor', 'secretary', 'offsupport',
       'salesrep', 'retailsales', 'req', 'expreq', 'comreq', 'educreq',
       'compreq', 'orgreq', 'manuf', 'transcom', 'bankreal', 'trade',
       'busservice', 'othservice', 'missind', 'ownership'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4870 entries, 0 to 4869
Data columns (total 65 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  4870 non-null   object
 1   ad                  4870 non-null   object
 2   education           4870 non-null   int8
 3   ofjobs              4870 non-null   int8
 4   yearsexp            4870 non-null   int8
 5   honors              4870 non-null   int8
 6   volunteer           4870 non-null   int8
 7   military            4870 non-null   int8
 8   empholes            4870 non-null   int8
 9   occupspecific       4870 non-null   int16
 10  occupbroad          4870 non-null   int8
 11  workinschool        4870 non-null   int8
 12  email               4870 non-null   int8
 13  computerskills      4870 non-null   int8
 14  specialskills       4870 non-null   int8
 15  firstname           4870 non-null   object
 16  sex                 4870 non-null   object
 17  race                4870 non-null   object
 18  h                   4870 non-null   float32
 19  l                   4870 non-null   float32
 20  call                4870 non-null   float32
 21  city                4870 non-null   object
 22  kind                4870 non-null   object
 23  adid                4870 non-null   float32
 24  fracblack           4784 non-null   float32
 25  fracwhite           4784 non-null   float32
 26  lmedhhinc           4784 non-null   float32
 27  fracdropout         4784 non-null   float32
 28  fraccolp            4784 non-null   float32
 29  linc                4784 non-null   float32
 30  col                 4870 non-null   float32
 31  expminreq           4870 non-null   object
 32  schoolreq           4870 non-null   object
 33  eoe                 4870 non-null   float32
 34  parent_sales        1672 non-null   float32
 35  parent_emp          1722 non-null   float32
 36  branch_sales        608 non-null    float32
 37  branch_emp          658 non-null    float32
 38  fed                 3102 non-null   float32
 39  fracblack_empzip    1918 non-null   float32
 40  fracwhite_empzip    1918 non-null   float32
 41  lmedhhinc_empzip    1908 non-null   float32
 42  fracdropout_empzip  1918 non-null   float32
 43  fraccolp_empzip     1918 non-null   float32
 44  linc_empzip         1918 non-null   float32
 45  manager             4870 non-null   float32
 46  supervisor          4870 non-null   float32
 47  secretary           4870 non-null   float32
 48  offsupport          4870 non-null   float32
 49  salesrep            4870 non-null   float32
 50  retailsales         4870 non-null   float32
 51  req                 4870 non-null   float32
 52  expreq              4870 non-null   float32
 53  comreq              4870 non-null   float32
 54  educreq             4870 non-null   float32
 55  compreq             4870 non-null   float32
 56  orgreq              4870 non-null   float32
 57  manuf               4870 non-null   float32
 58  transcom            4870 non-null   float32
 59  bankreal            4870 non-null   float32
 60  trade               4870 non-null   float32
 61  busservice          4870 non-null   float32
 62  othservice          4870 non-null   float32
 63  missind             4870 non-null   float32
 64  ownership           4870 non-null   object
dtypes: float32(42), int16(1), int8(12), object(10)
memory usage: 1.2+ MB

In [7]:
df['race'].unique()

array(['w', 'b'], dtype=object)

In [8]:
df.shape

(4870, 65)

In [9]:
df['city'].unique()

array(['c', 'b'], dtype=object)

In [10]:
df['kind'].unique()

array(['a', 's'], dtype=object)

My project topic: Are immigrants with non-Anglophone names less likely to be called back?

Through this project, my main goal is to analyze the discrimination in hiring process based on race and ethnicity. I intend to interpret to what extent the discrimination persists in the west and how the immigrant/non-white percentage of the population is affected by this trend.

The columns that are of importance to my project are: 
firstname (since I want to check how non-Anglophone names face discrimination): First name on the resume (used to infer race or origin), sex: Gender of the candidate (male, female), 
education (level): Years of education completed,
ofjobs: Number of jobs listed, 
yearsexp: Years of experience, 
race: Implied racial/ethnic group from name (White, Black), 
honors: 1 if the resume lists honors, 0 otherwise, 
volunteer: 1 if volunteer work is listed, 
empholes: 1 if there are employment gaps (holes) in the resume, 
workinschool: 1 if candidate worked during school, 
computerskills: 1 if candidate mentions computer skills, 
specialskills: 1 if resume includes special skills, 
kind: Type of resume (high/low quality or variation), 
call: Whether the resume received a callback (1 = yes, 0 = no), 
city: City where the job is located

In [11]:
keep_cols = [
    'firstname', 'race', 'sex', 'education', 'ofjobs', 'yearsexp',
    'honors', 'volunteer', 'empholes', 'workinschool',
    'computerskills', 'specialskills', 'kind',
    'call', 'city'
]

In [12]:
df['call'].unique()

array([0., 1.], dtype=float32)

In [13]:
my_df = df[keep_cols]

In [14]:
my_df.head(20)

,firstname,race,sex,education,ofjobs,yearsexp,honors,volunteer,empholes,workinschool,computerskills,specialskills,kind,call,city
0,Allison,w,f,4,2,6,0,0,1,0,1,0,a,0.0,c
1,Kristen,w,f,3,3,6,0,1,0,1,1,0,a,0.0,c
2,Lakisha,b,f,4,1,6,0,0,0,1,1,0,a,0.0,c
3,Latonya,b,f,3,4,6,0,1,1,0,1,1,a,0.0,c
4,Carrie,w,f,3,3,22,0,0,0,1,1,0,a,0.0,c
5,Jay,w,m,4,2,6,1,0,0,0,0,1,s,0.0,c
6,Jill,w,f,4,2,5,0,1,0,1,1,1,s,0.0,c
7,Kenya,b,f,3,4,21,0,1,1,0,1,1,a,0.0,c
8,Latonya,b,f,4,3,3,0,0,0,0,1,1,s,0.0,c
9,Tyrone,b,m,4,2,6,0,1,0,1,0,1,s,0.0,c
10,Aisha,b,f,4,4,8,0,1,1,0,1,1,a,0.0,c
11,Allison,w,f,4,4,8,0,0,0,1,1,0,a,0.0,c
12,Aisha,b,f,4,4,4,0,0,1,0,1,1,a,0.0,c
13,Carrie,w,f,4,2,4,0,0,0,1,1,0,a,0.0,c
14,Aisha,b,f,4,2,5,0,1,0,0,0,1,s,0.0,c
15,Geoffrey,w,m,1,3,4,0,0,0,0,1,1,s,0.0,c
16,Matthew,w,m,4,3,5,0,1,0,1,0,0,s,0.0,c
17,Tamika,b,f,4,3,6,0,0,0,0,0,1,s,0.0,c
18,Jill,w,f,4,2,6,1,1,0,1,0,1,s,0.0,c
19,Latonya,b,f,2,2,8,0,0,1,0,0,0,s,0.0,c

In [15]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4870 entries, 0 to 4869
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   firstname       4870 non-null   object
 1   race            4870 non-null   object
 2   sex             4870 non-null   object
 3   education       4870 non-null   int8
 4   ofjobs          4870 non-null   int8
 5   yearsexp        4870 non-null   int8
 6   honors          4870 non-null   int8
 7   volunteer       4870 non-null   int8
 8   empholes        4870 non-null   int8
 9   workinschool    4870 non-null   int8
 10  computerskills  4870 non-null   int8
 11  specialskills   4870 non-null   int8
 12  kind            4870 non-null   object
 13  call            4870 non-null   float32
 14  city            4870 non-null   object
dtypes: float32(1), int8(9), object(5)
memory usage: 252.2+ KB

The information above highlights that the dataset for my project (my_df) doesnot contain any missing/null values!

In [27]:
#Now we will change the data type of few columns for better analysis:

my_df['call'] = my_df['call'].astype(int)

my_df['anglophone'] = my_df['race'].apply(lambda x: 1 if x == 'w' else 0)

/var/folders/90/1nx5fn_n3glcmc0jqy_gjd1m0000gn/T/ipykernel_9131/1265114042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['call'] = my_df['call'].astype(int)
/var/folders/90/1nx5fn_n3glcmc0jqy_gjd1m0000gn/T/ipykernel_9131/1265114042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['anglophone'] = my_df['race'].apply(lambda x: 1 if x == 'w' else 0)

In [28]:
my_df['sex'].unique()

array(['f', 'm'], dtype=object)

In [29]:
my_df['call'].unique()

array([0, 1])

In [30]:
print(my_df['city'].unique())
print("c: Chicago, b: Boston")

['c' 'b']
c: Chicago, b: Boston

In [31]:
print(my_df['kind'].unique())
print("a: Advantage resume (high quality), s: Standard Resume (low quality)")

['a' 's']
a: Advantage resume (high quality), s: Standard Resume (low quality)

In [32]:
#overall callback rate
overall_callback = my_df['call'].mean()
print(f"Overall Callback rate: {overall_callback: .2%}")

Overall Callback rate:  8.05%

In [33]:
#callback rate by race:
callback_by_race = my_df.groupby('race')['call'].mean()
print("\nCallback rate by race: ")
print(callback_by_race)

Callback rate by race:
race
b    0.064476
w    0.096509
Name: call, dtype: float64

In [34]:
#callback rate by anglophone vs. non-anglophone
callback_by_group = my_df.groupby('anglophones')['call'].mean()
print("\nCallback rate by group: ")
print(callback_by_group)

Callback rate by group:
anglophones
0    0.064476
1    0.096509
Name: call, dtype: float64

In [35]:
my_df.to_csv("Cleaned_resume_audit_data.csv", index=False)

In [36]:
my_df.columns

Index(['firstname', 'race', 'sex', 'education', 'ofjobs', 'yearsexp', 'honors',
       'volunteer', 'empholes', 'workinschool', 'computerskills',
       'specialskills', 'kind', 'call', 'city', 'anglophones', 'anglophone'],
      dtype='object')

In [41]:
df_lg = my_df[['sex', 'education', 'ofjobs', 'yearsexp', 'honors',
       'volunteer', 'empholes', 'workinschool', 'computerskills',
       'specialskills', 'kind', 'anglophone', 'call']]
df_lg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4870 entries, 0 to 4869
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4870 non-null   object
 1   education       4870 non-null   int8
 2   ofjobs          4870 non-null   int8
 3   yearsexp        4870 non-null   int8
 4   honors          4870 non-null   int8
 5   volunteer       4870 non-null   int8
 6   empholes        4870 non-null   int8
 7   workinschool    4870 non-null   int8
 8   computerskills  4870 non-null   int8
 9   specialskills   4870 non-null   int8
 10  kind            4870 non-null   object
 11  anglophone      4870 non-null   int64
 12  call            4870 non-null   int64
dtypes: int64(2), int8(9), object(2)
memory usage: 195.1+ KB

array([1, 0])

In [42]:
df_lg['sex'] = df_lg['sex'].map({'m': 1, 'f': 0})
df_lg['kind'] = df_lg['kind'].map({'a': 1, 's': 0})

/var/folders/90/1nx5fn_n3glcmc0jqy_gjd1m0000gn/T/ipykernel_9131/24570053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lg['sex'] = df_lg['sex'].map({'m': 1, 'f': 0})
/var/folders/90/1nx5fn_n3glcmc0jqy_gjd1m0000gn/T/ipykernel_9131/24570053.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lg['kind'] = df_lg['kind'].map({'a': 1, 's': 0})

In [45]:
import statsmodels.api as sm

X = df_lg[['sex', 'education', 'ofjobs', 'yearsexp', 'honors',
       'volunteer', 'empholes', 'workinschool', 'computerskills',
       'specialskills', 'kind', 'anglophone']]
X = sm.add_constant(X)
y = df_lg['call']

model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.267949
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                   call   No. Observations:                 4870
Model:                          Logit   Df Residuals:                     4857
Method:                           MLE   Df Model:                           12
Date:                Mon, 31 Mar 2025   Pseudo R-squ.:                 0.04294
Time:                        16:52:45   Log-Likelihood:                -1304.9
converged:                       True   LL-Null:                       -1363.5
Covariance Type:            nonrobust   LLR p-value:                 2.343e-19
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const             -3.6231      0.368     -9.836      0.000      -4.345      -2.901
sex               -0.0076      0.158     -0.048      0.962      -0.317       0.302
education          0.0834      0.080      1.041      0.298      -0.074       0.241
ofjobs            -0.0230      0.049     -0.473      0.636      -0.118       0.072
yearsexp           0.0367      0.010      3.546      0.000       0.016       0.057
honors             0.4419      0.197      2.238      0.025       0.055       0.829
volunteer          0.1000      0.118      0.850      0.395      -0.131       0.331
empholes           0.4262      0.135      3.147      0.002       0.161       0.692
workinschool       0.1595      0.129      1.233      0.218      -0.094       0.413
computerskills    -0.2854      0.154     -1.848      0.065      -0.588       0.017
specialskills      0.7650      0.112      6.826      0.000       0.545       0.985
kind              -0.0448      0.157     -0.285      0.776      -0.353       0.264
anglophone         0.4376      0.109      4.026      0.000       0.225       0.651
==================================================================================